<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{HH:mm:SS}: %c - %m%n" />
		</layout>
	</appender>
	<appender name="filerolling" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="c:/spring_study/yj.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p][%d{HH:mm:SS}] %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="kr.co.yj">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<!-- db Loggers -->
	<logger name="jdbc.resultsettable">
		<level value="info" /><!-- error -->
	</logger>
	<logger name="jdbc.audit"><!-- debug -->
		<level value="info" />
	</logger>
	<logger name="jdbc.resultset">
		<level value="error" /><!-- error -->
	</logger>
	<logger name="jdbc.connection">
		<level value="info" />
	</logger>
	<logger name="java.sql.ResultSet">
		<level value="info" />
	</logger>
	<logger name="java.sql.PreparedStatement">
		<level value="info" /><!-- debug -->
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<!-- <appender-ref ref="filerolling" /> -->
	</root>
	
</log4j:configuration>
