@CHARSET "UTF-8";

div#map-box {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position:relative;overflow:hidden;
}

#left-tab li a {
	color: white;
}

#left-tab li a:hover {
	color: white;
}

#left-tab-left {
	background-color: #22221F;
}

#left-tab-right {
	background-color: white;
}
#left-tab-header {
	background-color: #FF6600;
}

#left-tab-plan-contents .col-md-12{
	padding-top: 10px;
	padding-bottom: 10px;
	
	border : 5px;
}

div#contents-tab{
	padding : 0px;
}
#left-tab{
	padding : 0px;
	overflow: auto;
}

div#right-tab {
	background-color: white;
}

nav#navigationBar {
	margin-bottom : 0px;
	border-radius: 0px;
	border : 0px;
}

div#place-tab {
	border-width :0px;
}
div.customoverlay{
	position: relative;
    bottom:20px;
}

div.dayMarker{
/* 	background-image : url("../images/icon_day_flag.png"); */
}

