@CHARSET "UTF-8";



div#map-box {
	width: 100%;
	height: 880px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position:relative;overflow:hidden;
}

div#contents-tab{

	padding : 0px;
}

div#title h3 {
	text-align: center;
	text-shadow: 2px 2px black;
	color: #FFFFFF;
}
div#title p {
	text-align: center;
	text-shadow: 2px 2px black;
	color: #FFFFFF;
}
div#centerLeftContent .palceName{
	text-align : left;
/* 	background-color : #FFAD33; */
}

div.palceInfo {
	margin-left : 10px;
	padding-left : 10px;
	padding-top : 15px;
	padding-bottom : 13px;
	border-left : solid 1px;
}

div#place-tab {
	padding : 0px;
}

div#place-tab-image {
	padding : 0px;
}
div#place-tab-content {
	font-size : 14px;
	padding : 10px;
}

div#centerLeftContent{
	
}

div#footerContent .panel-body {
	background-color : #3399FF;
}

div#centerRightContent .placeNameRight{
/* 	background-color : #3399FF; */
}

div#topContent {
	text-align: center;
	padding : 15px;
}

div#left-tab{
	height : 880px;
	overflow: auto;
}

div#commentContent p {
	text-align : right;
	border : soild black 2px ;
}

div#footerContent {
	
}

nav#navigationBar {
	margin-bottom : 0px;
}

